@font-face {
    font-family: 'D-DIN Exp';
    src: url('../fonts/D-DINExp.woff2') format('woff2'),
         url('../fonts/D-DINExp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'D-DIN Exp';
    src: url('../fonts/D-DINExp-Italic.woff2') format('woff2'),
         url('../fonts/D-DINExp-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'D-DIN Exp';
    src: url('../fonts/D-DINExp-Bold.woff2') format('woff2'),
         url('../fonts/D-DINExp-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
         url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
         url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}